
# Variables

In [10]:
var = "Hello"
print(var)

Hello

In [11]:
_var = "Hey" # starting with underscore
print(_var)

Hey

In [21]:
vr2t = 10 #variable mixed with numbers
print(vr2t)

10

In [12]:
myNameVar = "Zahid" #camelCaseVar

In [14]:
MyIdNo = 123 # PascalCaseVar
print(MyIdNo)

123

In [15]:
my_address_is = "Dhaka" #snake_case_var
print(my_address_is)

Dhaka

In [16]:
name, address, id_no = 'Zahid','Dhaka',123 #multiple variable

In [17]:
print(name,address,id_no,sep=',')

Zahid,Dhaka,123

1. Variable cann't satrt with number.
2. Varible cann't have special character expect underscore(_)
3. Keyword cann't be a variable name
4. Variable names are case sensitive
5. Variable can contain only alpha numeric key (a-z,0-9)

Global and Local Variable

In [18]:
country = 'Bangladesh'
def get_country_name():
    print("The name of our country is : ",country)
get_country_name()

The name of our country is :  Bangladesh

In [19]:
def func():
    password = 12345
    print("The password is : ",password)
func()

The password is :  12345

In [20]:
def func():
    global password
    password = 12345
    print("The password is from the function : ",password)
func()
print("The password is outside the function : ",password)

The password is from the function :  12345
The password is outside the function :  12345

# Conditions

In [23]:
x =  5
y = 3

In [24]:
if x > y:
    print("X is greater than Y.")
else:
    print("Y is greater than X.")

X is greater than Y.

In [27]:
if x < y:
    print("X is smaller than Y.")
elif x > y:
    print("X is greater than Y")
else:
    print("Y is greater than X.")

X is greater than Y

In [32]:
marks = 74
if marks >= 80:
    print("A+")
elif marks>=75:
    print("A")
else:
    print("A-")

A-

# Loops

In [33]:
lst = ['apple','mango','grape','pineapple','banana','watermelon']

for x in lst:
    print(x)

apple
mango
grape
pineapple
banana
watermelon

In [34]:
for y in range(len(lst)):
    print(y,lst[y])

0 apple
1 mango
2 grape
3 pineapple
4 banana
5 watermelon

In [35]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [38]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [47]:
i=1

while i<=10:
    print(i)
    i=i+2

1
3
5
7
9

In [48]:
j = 10
while j>=1:
    print(j)
    j=j-1

10
9
8
7
6
5
4
3
2
1