# Data Structure in Python

# List

In [1]:
lst = ['data','science',1,2,3,4,100,True,False,[1,2,3,45]]

In [2]:
lst

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [3]:
import sys
sys.getsizeof(lst) # Memory size

136

In [4]:
type(lst) # to get the type

list

In [6]:
lst[-1][2] # access element by index

3

In [7]:
lst[0] = 'science' # change the element of index no. 0

In [8]:
lst

['science', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [9]:
lst[2:7] # to see range of element 2 - 6 index element

[1, 2, 3, 4, 100]

In [29]:
lst[-2]

False

In [31]:
type(lst[-2])

bool

In [32]:
lst

['science', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [33]:
lst.append("Zahid") # to add element in a list, add item in the end of the list

In [34]:
lst

['science', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45], 'Zahid']

In [35]:
lst.insert(3,"teacher") # add element at any position by index no.

In [40]:
lst.index('teacher') # to find out index of an element

3

In [54]:
# find out all the index no along with their values
for x in range(len(lst)):
    print(lst[x], lst.index(lst[x]),sep = "\t= ")

science	= 0
science	= 0
1	= 2
teacher	= 3
2	= 4
3	= 5
4	= 6
100	= 7
True	= 2
False	= 9
[1, 2, 3, 45]	= 10
Zahid	= 11

In [55]:
lst2 = lst # make a reference copy

In [56]:
lst2

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'Zahid']

In [60]:
lst2.remove(1) # remove element by value

In [63]:
lst2

['science', 'science', 'teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid']

In [64]:
lst

['science', 'science', 'teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid']

In [67]:
print(id(lst),id(lst2))

2245977790016 2245977790016

In [72]:
lst3 = lst2.copy() # copy

In [73]:
lst3

['science', 'science', 'teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid']

In [74]:
print(id(lst2),id(lst3))

2245977790016 2246006300352

In [75]:
lst3.pop(-2) # remove element by index no.

[1, 2, 3, 45]

In [76]:
lst3

['science', 'science', 'teacher', 2, 3, 4, 100, False, 'Zahid']

In [77]:
lst3.pop()

'Zahid'

In [78]:
lst3.append("Zahid")

In [79]:
lst3

['science', 'science', 'teacher', 2, 3, 4, 100, False, 'Zahid']

In [80]:
lst2.remove('science')

In [81]:
lst2

['science', 'teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid']

In [82]:
lst2.append('science')

In [83]:
lst2

['science', 'teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid', 'science']

In [84]:
lst2.remove('science')

In [85]:
lst2

['teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid', 'science']

In [86]:
lst

['teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid', 'science']

In [87]:
lst3

['science', 'science', 'teacher', 2, 3, 4, 100, False, 'Zahid']

In [88]:
lst2.remove('science')

In [89]:
lst2

['teacher', 2, 3, 4, 100, False, [1, 2, 3, 45], 'Zahid']

In [96]:
del lst[-1]

In [97]:
lst2

['teacher', 2, 3, 4, 100, False, [1, 2, 3, 45]]

In [98]:
del lst2[0:2] # to delete item by range

In [99]:
lst2

[3, 4, 100, False, [1, 2, 3, 45]]

In [101]:
numbers = [4,3,7,2,8,1,5,6]

In [102]:
numbers.sort() # sort a list

In [103]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [104]:
numbers.reverse() # reverse a list
numbers

[8, 7, 6, 5, 4, 3, 2, 1]

In [105]:
numbers.append(1)

In [106]:
numbers

[8, 7, 6, 5, 4, 3, 2, 1, 1]

In [107]:
numbers.count(1) # count a particular item in the list

2

In [108]:
sum(numbers) # to get sum value

37

In [109]:
lst3.clear()

In [110]:
lst3

[]

In [111]:
1 in numbers # to search for a item whether it is in the list or not in the list

True

In [112]:
l1 = [1,2,7,8,10,1,3,7]

In [114]:
t = 0
for x in l1:
    t += x
print(t, sum(l1))

39 39

# Input function

In [116]:
x = int(input("Enter your first number : "))
y = int(input("Enter your second number : "))

Enter your first number : 10
Enter your second number : 20

In [117]:
print(x+y)

30

In [118]:
list1 = []
n = int(input())
for x in range(n):
    new = input()
    list1.append(new)
print(list1)

10
zahid
2
3
5
8
6
4
5
4
4
['zahid', '2', '3', '5', '8', '6', '4', '5', '4', '4']

# Tuple in Python

In [122]:
tup1 = ('data science',)

In [123]:
type(tup1)

tuple

In [124]:
tup1 = ('data science', 'aI')

In [125]:
tup1

('data science', 'aI')

In [126]:
tup2 = list(tup1) # convert tuple into list

In [127]:
tup2

['data science', 'aI']

In [128]:
type(tup2)

list

In [129]:
tup2[0] = 1

In [130]:
tup2

[1, 'aI']

In [132]:
tup1 = tuple(tup2)

In [133]:
tup1

(1, 'aI')

In [136]:
tup2

[1, 'aI']

In [140]:
slic = tup1[1:2]

In [141]:
slic

('aI',)

In [1]:
fruits = ('Apple','Banana','Cherry') # unpack tuple
(var_1,var_2,var_3) = fruits

In [3]:
print(var_1,var_2,var_3)

Apple Banana Cherry

# Set in Python

In [4]:
s1 = {1,2,3,4,5}
s2 = {'technology','science'}

In [5]:
type(s1)

set

In [6]:
id(s1)

2169851839648

In [9]:
import sys
sys.getsizeof(s1)

472

In [10]:
#intersection
s1 = {1,2,3,4,5}
s2 ={7,2,9,4,5}
s1.intersection(s2)

{2, 4, 5}

In [11]:
#union
s1.union(s2)

{1, 2, 3, 4, 5, 7, 9}

In [13]:
s1 | s2 #union

{1, 2, 3, 4, 5, 7, 9}

In [14]:
s1 & s2 #intersection

{2, 4, 5}

In [15]:
s1.add(6)

In [16]:
s1

{1, 2, 3, 4, 5, 6}

In [17]:
s1.remove(6)

In [18]:
s1

{1, 2, 3, 4, 5}

In [19]:
s1.clear()

In [20]:
s1

set()

# Array in Python

In [21]:
import array as ar

In [27]:
array = ar.array('i',[1,2,3,4,5]) # here 'i' is type code

In [28]:
array

array('i', [1, 2, 3, 4, 5])

In [24]:
type(array)

array.array

In [29]:
array.insert(1,10) # here 1 is index number and 10 is new value

In [30]:
array

array('i', [1, 10, 2, 3, 4, 5])

In [31]:
array.append(10) # it will add element at the end of an array

In [32]:
array

array('i', [1, 10, 2, 3, 4, 5, 10])

In [34]:
array.reverse()

In [35]:
array

array('i', [10, 5, 4, 3, 2, 10, 1])

In [36]:
array.count(10)

2

# Dictionary in Python

In [52]:
dic = {
    'Name': 'Zahid',
    'University': 'DIU',
    'Year': 2022
}

In [53]:
dic

{'Name': 'Zahid', 'University': 'DIU', 'Year': 2022}

In [54]:
dic.keys()

dict_keys(['Name', 'University', 'Year'])

In [55]:
dic.values()

dict_values(['Zahid', 'DIU', 2022])

In [56]:
dic['University'] = "Daffodil" # change the value

In [57]:
dic

{'Name': 'Zahid', 'University': 'Daffodil', 'Year': 2022}

In [58]:
dic = {
    'Name': 'Zahid',
    'University': 'DIU',
    'Year': 2022,
    'University': 'Daffodil'
}

In [59]:
dic

{'Name': 'Zahid', 'University': 'Daffodil', 'Year': 2022}

In [60]:
dic.popitem()

('Year', 2022)

In [61]:
dic

{'Name': 'Zahid', 'University': 'Daffodil'}

In [63]:
dic.pop('Name') # delete item by keys

'Zahid'

In [64]:
dic

{'University': 'Daffodil'}

In [65]:
dic['Name'] = 'Zahidul' # add new value

In [66]:
dic

{'University': 'Daffodil', 'Name': 'Zahidul'}

In [67]:
list(dic.keys())

['University', 'Name']

In [68]:
list(dic.values()) # creating list using values of the dictionary

['Daffodil', 'Zahidul']

# Data Frame

In [69]:
import pandas as pd

In [80]:
l = ['data','science','ai']

In [81]:
df = pd.DataFrame(l)

In [82]:
df

         0
0     data
1  science
2       ai

In [90]:
df = pd.DataFrame(l,columns=['dept'])

In [84]:
df

      dept
0     data
1  science
2       ai

In [85]:
df.shape # Row, Columsns

(3, 1)

In [91]:
row,col = df.shape

In [87]:
print(row,col)

3 1

In [92]:
df2=pd.DataFrame(l,columns=['dept name'])

In [93]:
df

      dept
0     data
1  science
2       ai

In [94]:
df2

  dept name
0      data
1   science
2        ai

In [95]:
df+df2

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [106]:
df = pd.DataFrame(l)

In [107]:
df2=pd.DataFrame(l)

In [112]:
df1=pd.concat([df,df2],axis=1) # 1 column; 0 row

In [113]:
df1

         0        0
0     data     data
1  science  science
2       ai       ai

In [117]:
df1.drop(0) # delete 0 no. row

         0        0
1  science  science
2       ai       ai

In [118]:
df1

         0        0
0     data     data
1  science  science
2       ai       ai

In [119]:
df1.drop(0,axis=1) # delete 0 named column

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [120]:
df1

         0        0
0     data     data
1  science  science
2       ai       ai

In [121]:
df1.drop([0]) # del 0 no. row

         0        0
1  science  science
2       ai       ai

In [122]:
df1

         0        0
0     data     data
1  science  science
2       ai       ai

In [123]:
df1.drop([0],axis=1,inplace=True)

In [124]:
df1

Empty DataFrame
Columns: []
Index: [0, 1, 2]