In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df.shape

(1338, 7)

# encoding non-numeric values

In [6]:
from pandas.core.dtypes.common import is_numeric_dtype

In [7]:
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [8]:
le = LabelEncoder()

In [9]:
for x in df.columns:
    if is_numeric_dtype(df[x]):
        continue
    else:
        df[x] = le.fit_transform(df[[x]])
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [10]:
x = df.drop(['charges'],axis=1)

In [11]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       3
1   18    1  33.770         1       0       2
2   28    1  33.000         3       0       2
3   33    1  22.705         0       0       1
4   32    1  28.880         0       0       1

In [12]:
y = df[['charges']]

In [13]:
y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.20, random_state=1)

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lreg = LinearRegression()

In [18]:
lreg.fit(xtrain, ytrain)  #taining the model

LinearRegression()

In [19]:
lreg.predict(xtest)

array([[ 4312.08656955],
       [12859.49737555],
       [12370.50358911],
       [13549.5511475 ],
       [  410.55490166],
       [32052.76977091],
       [13170.26923221],
       [12248.5052133 ],
       [ 3713.54941225],
       [29760.32281711],
       [11338.50159148],
       [17269.6492891 ],
       [ 8961.13430709],
       [ 8184.25429812],
       [ 3376.85292436],
       [10278.37012511],
       [ 3883.36513262],
       [ 6793.01504696],
       [15270.57009799],
       [14255.67564306],
       [12438.83818074],
       [33176.73034139],
       [ 9068.32669468],
       [ 8835.62475682],
       [ 2922.83938461],
       [ 8155.7017465 ],
       [ 9497.57563203],
       [11015.04509043],
       [ 7503.17666222],
       [ 4307.99883589],
       [13939.03683704],
       [ 5657.88640469],
       [34592.37757194],
       [26941.6112407 ],
       [33661.91509295],
       [ 9552.53576302],
       [30183.50964412],
       [26485.52800009],
       [15397.47566838],
       [33857.57796843],
       [ 6575.23382913],
       [14015.49951905],
       [11034.83628114],
       [14878.37537422],
       [ 4056.87355672],
       [13036.25142266],
       [ 4582.39598034],
       [28857.50476848],
       [ 7305.25026916],
       [14215.34197814],
       [13570.38542044],
       [12171.25378059],
       [ 1860.5537778 ],
       [ 8743.00482524],
       [25989.68277284],
       [10318.04975471],
       [34486.04416316],
       [14338.30219512],
       [ 3181.55608612],
       [ 6080.26510845],
       [ 6805.93170349],
       [14850.7770469 ],
       [27218.86704763],
       [ 3253.69992296],
       [15670.34534562],
       [11189.05910351],
       [11134.10274131],
       [10803.39805584],
       [ 1526.35969822],
       [25214.68574313],
       [37501.02981236],
       [32970.61746419],
       [ 1806.14883018],
       [11381.38266567],
       [13670.64910201],
       [34834.70308328],
       [ 3182.15958674],
       [ 4170.13558842],
       [10218.42642933],
       [10445.94054979],
       [  -81.47899342],
       [14040.85062666],
       [10358.75515028],
       [ 2977.94382045],
       [33372.19998048],
       [33274.98619064],
       [ 7018.44717911],
       [37901.71133648],
       [12763.51814323],
       [10278.96809524],
       [30086.92830343],
       [33949.44276786],
       [15034.31423076],
       [11080.69263853],
       [  241.21414315],
       [10847.73730886],
       [ 9498.12889138],
       [15220.69439026],
       [14918.33910586],
       [ 6038.27994848],
       [13637.75239824],
       [26035.2081038 ],
       [27985.82144936],
       [27187.79677414],
       [35652.31039868],
       [27080.54001363],
       [  482.8002086 ],
       [ 9092.08453479],
       [ 4934.54527887],
       [12379.61714579],
       [ 5635.21132763],
       [ 5088.7470156 ],
       [ 1049.40205133],
       [18727.39461522],
       [ 3260.57785266],
       [ 1498.81612309],
       [11488.86566623],
       [12616.47074155],
       [11736.9649684 ],
       [ 3676.96860592],
       [ 8764.85785774],
       [13804.05341753],
       [ 8015.30902207],
       [ 6448.7055193 ],
       [36941.0778145 ],
       [11982.44929993],
       [12209.48808911],
       [29612.82776442],
       [36276.58800068],
       [11420.38054514],
       [28322.23768328],
       [ -546.59246324],
       [ 8189.23941751],
       [31842.20934743],
       [ 8118.64544653],
       [ -809.04011247],
       [ 1169.13359329],
       [ 4834.23860021],
       [ 7653.06450448],
       [12463.48816569],
       [14784.38390755],
       [ 8965.17519559],
       [29219.84637633],
       [15975.11348569],
       [14606.73218512],
       [11116.21791282],
       [ 2194.77177211],
       [ 9885.01524527],
       [ 4031.70569207],
       [ 6193.75146003],
       [11641.24813701],
       [ 5475.96194012],
       [14523.9850806 ],
       [13600.04390773],
       [12919.59507942],
       [ 6866.02502751],
       [12293.73260075],
       [10856.95409732],
       [10207.49192487],
       [ 4326.8515678 ],
       [ 5930.03964571],
       [40634.18158191],
       [13347.21405989],
       [ 4126.77193551],
       [ 8398.99962478],
       [ 4913.40053336],
       [32442.96043116],
       [11099.14173935],
       [10817.0841391 ],
       [ 6818.7976668 ],
       [ 6268.40376743],
       [ 6639.07980141],
       [33047.27084751],
       [34902.3894635 ],
       [ 2190.4602542 ],
       [ 7597.40325082],
       [ 4991.15682567],
       [15456.58393065],
       [ 1462.05563226],
       [11639.30115426],
       [13365.51316303],
       [11473.2140089 ],
       [10530.82979747],
       [13059.5326185 ],
       [ 2415.92969062],
       [27802.32918662],
       [ 2643.00177306],
       [14947.11359695],
       [ 6339.58109309],
       [10524.41143354],
       [14955.50048238],
       [39062.99638052],
       [ 1979.8141267 ],
       [ 1496.42681273],
       [ 5224.51873387],
       [ 7447.4584109 ],
       [ 8216.10746713],
       [ 4436.67113366],
       [10715.39290581],
       [ 9247.61451934],
       [ 9654.13183065],
       [10890.64991464],
       [10214.42092106],
       [ 9515.68039613],
       [ 8063.28983308],
       [ 1195.02989086],
       [10024.28605762],
       [ 7626.34698431],
       [ 6457.23895447],
       [11547.72422566],
       [ 5330.56996465],
       [33191.71875446],
       [ 6983.08892975],
       [ 6106.67551691],
       [ 7725.53588912],
       [38764.50111821],
       [11865.90507033],
       [28582.48917928],
       [ 3134.2390104 ],
       [33013.28212939],
       [ 3588.53496976],
       [31911.29944447],
       [13801.38754275],
       [ 2705.29956189],
       [ 1887.522845  ],
       [ 1118.95409013],
       [ 6084.69918595],
       [ 4256.08466873],
       [25384.0733468 ],
       [15994.37095135],
       [ 5298.25383106],
       [13356.97649084],
       [39151.57210732],
       [ 4785.65760543],
       [12646.75041956],
       [11165.47656805],
       [27790.56907972],
       [ 2755.57652416],
       [13248.62111809],
       [ 6014.94465948],
       [15395.98010219],
       [ 5989.53577299],
       [16812.99857766],
       [ 4162.44552506],
       [12472.86064466],
       [34628.8378258 ],
       [10928.99314777],
       [10419.58120782],
       [ 5146.33432486],
       [16671.10975524],
       [14339.82892021],
       [ 5427.24655082],
       [11475.43592163],
       [12781.49228219],
       [ 4533.11771097],
       [ 7008.05601983],
       [27523.08147582],
       [32149.80469763],
       [ -447.24222308],
       [40172.29289106],
       [ 9698.36830443],
       [ 7755.19384462],
       [10945.91191704],
       [33330.12756132],
       [35851.35034427],
       [36871.78109155],
       [ 4885.66441598],
       [ 6051.92303465]])

In [20]:
lreg.score(xtest,ytest)

0.7623224022563388

In [21]:
from sklearn.metrics import r2_score

In [22]:
score = r2_score(ytest, lreg.predict(xtest))

In [23]:
score

0.7623224022563388

In [24]:
ytest['predicted'] = lreg.predict(xtest)

In [25]:
ytest.head()

         charges     predicted
559    1646.4297   4312.086570
1087  11353.2276  12859.497376
1020   8798.5930  12370.503589
460   10381.4787  13549.551148
802    2103.0800    410.554902

In [26]:
print(lreg.coef_)

[[  258.01557886  -244.31610607   315.08300514   412.23885375
  23766.9743197   -330.62676068]]

In [27]:
print(lreg.intercept_)

[-11210.16573454]